<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/angular/angular.js"></script>
</head>
<body ng-controller="homeController as controller" ng-cloak>

    <input ng-model="text" />
    <p>{{text}}</p>
    <h2>{{controller.message}}</h2>

    <br />
    <hr />

    <ul>
        <li ng-repeat="car in controller.cars">{{car.model}}</li>
    </ul>


    <table ng-hide="(controller.cars.length == 0)">
        <tr>
            <th>Make</th>
            <th>Model</th>
        </tr>
        <tr ng-repeat="car in controller.cars">
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
        </tr>
    </table>
    <br />
    <hr />

    <button ng-click="controller.faveColor('red')">RED</button>
    <button ng-click="controller.faveColor('blue')">BLUE</button>
    <button ng-click="controller.faveColor('green')">GREEN</button>
    
    <h2 ng-style="controller.style">{{controller.color}}</h2>

    <br />
    <hr />
    <br />

    <form ng-submit="controller.addCar(newCar)">
        <input ng-model="newCar.make"/>
        <input ng-model="newCar.model"/>
        <input type="submit">
    </form>

    <script src="/ngApp/app.js"></script>
</body>
</html>